<h2>1. Show-an-object: </h2>
<ul>
    <li>
        <code>&#x7B; &#x7B; someObject.id &#x7D; &#x7D;</code> <br /><br/>gives: <br/><br/>{{someObject.id}}<br /><br /><br />
    </li>
    <li>
        <code>&#x7B; &#x7B; someObject.stringValue &#x7D; &#x7D;</code> <br /><br />gives:<br/><br/>
        {{someObject.stringValue}}<br /><br /><br />
    </li>
    <li>
        <code>&#x7B; &#x7B; someObject.stringValue | uppercase &#x7D; &#x7D;</code> <br /><br/>gives:<br/><br/>
        {{someObject.stringValue |
        uppercase}}<br /><br /><br />
    </li>
</ul>