<h2>2. Edit-an-object: </h2>
<p>Users should be able to edit the object values in an <code>< input ></code> textbox. The textbox should both display
    the object's
    properties and update that properties as the user types. </p>
<p>That means data flows from the component class out to the screen and from the screen back to the class.</p>
<p>To automate that data flow, you can setup a two-way data binding between the <code>< input ></code> form element and
    the hero.name
    property.</p>
<p>So <br /><br />
    <code>< input id="stringValue" [ ( ngModel )] = "someObject.stringValue" placeholder="stringValue" > 
</code><br /><br />gives :
</p>
<p>
    <label for="name">Object string value: </label>
    <input id="stringValue" [(ngModel)]="someObject.stringValue" placeholder="stringValue">
    <br /><br />
    <code>&#x7B; &#x7B; someObject.stringValue &#x7D; &#x7D;</code> gives: {{someObject.stringValue}}
</p>