<div class="example-button-row">
    <nav>
        <ul class="objects" >
            <li> <span matBadge="{{badgeContent}}" matBadgePosition="after" matBadgeSize="small" matBadgeOverlap=false matBadgeColor="accent">Legacy Angular: </span></li>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li> <a routerLink="/show-object">Show</a></li>
                <li><a routerLink="/edit-object">Edit</a></li>
                <li><a routerLink="/display-list">List</a></li>
                <li><a routerLink="/get-object-async">Async</a></li>
                <li><a routerLink="/viewing-details">Details</a></li>
            </ul>
            <li> Angular Material: </li>
            <ul>
                <li><a routerLink="/autocomplete">Autocomplete</a></li>
                <li><a routerLink="/bottom-sheet">Bottom-sheet</a></li>
                <li><a routerLink="/buttons">Buttons</a></li>
            </ul>
        </ul>
    </nav>
</div>

