<mat-card>
    <mat-card-header>
        <mat-card-title><b>Title:</b> {{book.title}}</mat-card-title>
        <mat-card-subtitle><b>Author:</b> {{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>Isbn: </b>{{book.isbn}}<br />
            <b>Release date:</b> {{book.releaseDate}}<br />
            <b>Register date:</b> {{book.registerDate }}<br />
            <b>Total examplaries: </b>{{book.totalExamplaries}}<br />
            <b>Categ: </b> {{book.category?.code}}- {{book.category?.label}}<br />
        </p>
    </mat-card-content>
</mat-card>