<div class="page">
    <h1>Books-Tiles: </h1>
</div>
<h2>With differents tiles: </h2>
<mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">
    <a routerLink="/cart">
        <mat-grid-tile class="tile" *ngFor="let book of books" [colspan]="book.cols" [rowspan]="book.rows"
            [style.background]="book.color">
            {{book.title}} - {{book.author}}<br/>
            {{book.isbn}}
        </mat-grid-tile>
    </a>
</mat-grid-list>

<h2>With cards: </h2>
<mat-grid-list cols="6" rowHeight="250px" gutterSize="10px">
    <mat-grid-tile *ngFor="let book of books">
        <app-books [book]="book"></app-books>
    </mat-grid-tile>
</mat-grid-list>