<h2>4. Get-object-async: </h2>
<h3>TypeScript : </h3>
<h4>Service : </h4>
<code>
    getSomeObjectsAsync(): Observable < SomeObjectInterface[]> &#x7B; 
        const objects = of(OBJECTS);
        return objects;
      }
</code>
<h4>Component : </h4>
<code>
    private getObjects(): void &#x7B;
        this.objectService.getSomeObjectsAsync()
        .subscribe(objects => this.objects = objects);
      }
</code>
<br/>
<ul class="objects">
    <li *ngFor="let object of objects">
        <span>{{object.stringValue}}</span>

    </li>
</ul>
