<h2>Autocomplete : </h2>
<pre>
    <code class="language-html" [highlight]="exempleCode"></code>
</pre>
<p>The code abow gives the input below : </p>
<form class="example-form">
    <mat-label>Number: </mat-label>
    <mat-form-field class="example-full-width" appearance="fill">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>