<h2>4. Viewing-details: </h2>
<h3>Add a click event binding: </h3>
<code> < li *ngFor = " let object of objects " ( click ) = " onSelect(object) " > </code>

<h3>Update ts file : </h3>
<code> selectedObject?: SomeObjectInterface;</code><br /><br />
then<br /><br />
<code>onSelect(object: SomeObjectInterface): void &#x7B; this.selectedObject = object; }</code>

<h3>Object list :</h3>
<ul class="objects">
    <li *ngFor="let object of objects" [class.selected]="object === selectedObject" (click)="onSelect(object)">
        {{object.stringValue}}</li>
</ul>
<p>To display only when selected : <br /><br /><code> < div *ngIf = " selectedObject " > ... details ... < /div ></code>
</p>
<div *ngIf="selectedObject">
    <h4>Details : </h4>
    {{selectedObject?.id}} - {{selectedObject?.stringValue}}
</div>